version: '3.8'

services:
  # 1. Ứng dụng Laravel (PHP-FPM)
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-laravel-app
    container_name: laravel_app
    user: "1000:1000"
    restart: unless-stopped
    volumes:
      - ./src:/app
    ports:
      - "5173:5173"
    networks:
      - app-network

  # 2. Web Server (Nginx) - Người gác cổng
  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./src:/app
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - app-network
    depends_on:
      - app

  # 3. Cơ sở dữ liệu (MySQL)
  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ecomere
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_ROOT_PASSWORD: ''
      MYSQL_PASSWORD: password
      MYSQL_USER: user
    ports:
      - "3306:3306"
    networks:
      - app-network

  # 4. phpMyAdmin - Công cụ quản lý DB qua trình duyệt
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: laravel_phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: user
      PMA_PASSWORD: password
      UPLOAD_LIMIT: 64M
    networks:
      - app-network
    depends_on:
      - db

networks:
  app-network:
    driver: bridge
